.bttMenuSelected{
    -fx-background-color: #FFC1C4;
    -fx-background-radius: 20px;
    -fx-text-fill: #900C11;
    -fx-font-family: Montserrat;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-pref-width: 200.0;
    -fx-pref-height: 26.0;
    -fx-alignment: TOP_LEFT;
    -fx-cursor: hand;
}

.icon-bttMenuSelected{
    -fx-fill: #900C11;
}

.bttUser{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
    -fx-cursor: hand;
}

.iconUser{
    -fx-fill: #5A6A85;
}

.bttUser:hover{

}

.bttUser:hover .iconUser{
    -fx-fill: #900C11;
}

.bttMenu{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
    -fx-text-fill: #5A6A85;
    -fx-font-family: Montserrat;
    -fx-font-size: 14px;
    -fx-pref-height: 26.0;
    -fx-pref-width: 200.0;
    -fx-alignment: TOP_LEFT;
    -fx-cursor: hand;
}

.icon {
    -fx-fill: #5A6A85;
}


.bttMenu:hover{
    -fx-background-color: #FFF0F1;
    -fx-text-fill: #900C11;
}

.bttMenu:hover .icon{
    -fx-fill: #900C11;
}

.scroll-pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
}

.scroll-pane .viewport{
    -fx-background-color: #FFFFFF;
}

.bttUser-menuItem{
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-text-fill: #5A6A85;
    -fx-padding: 6 12;
}

.boxLineChartPromedy{
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 12px;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian,rgba(145,158,171,0.12),15,0.2,0,0.5);
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.lbTitleChartPromedy{
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
    -fx-text-fill: #2A3547;
}

.lbSubTitleChartPromedy{
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-text-fill: #7C8FAC;
}

.comboBoxLineChartPromedy{
    -fx-border-color: #DFE5EF;
    -fx-background-color: #FFFFFF;
    -fx-font-family: Montserrat;
    -fx-font-size: 13px;
    -fx-text-fill: #7C8FAC;
    -fx-cursor: hand;
    -fx-pref-width: 180px;
    -fx-pref-height: 26px;
}
