.tfPeriodo{
    -fx-border-color: #5A6A85;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-pref-height: 35px;
    -fx-pref-width: 280px;
}

.lbTitleResults {
    -fx-font-family: "Montserrat ExtraBold";
    -fx-font-size: 28px;
    -fx-text-fill: #de0009;
}

.lbSubTitleResults {
    -fx-font-family: "Montserrat";
    -fx-font-size: 12px;
    -fx-text-fill: #5A6A85;
}

.comboSemestre{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #5A6A85;
    -fx-pref-height: 35px;
    -fx-pref-width: 110px;
    -fx-background-color: #FFFFFF;
    -fx-font-family: "Montserrat";
    -fx-text-fill: #5A6A85;
}

.bttFiltrar{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-pref-height: 35px;
    -fx-pref-width: 110px;
    -fx-font-family: "Montserrat";
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #de0009;
    -fx-border-color: #de0009;
    -fx-cursor: hand;
}

.containerReport{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian,rgba(145,158,171,0.25),30,0.3,0,0.4);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-pref-height: 400px;
    -fx-max-height: 400px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
}

.lbReportTitle {
    -fx-font-family: "Montserrat ExtraBold";
    -fx-font-size: 34px;
    -fx-text-fill: #b30000;
    -fx-alignment: center;
}

.table-red {
    -fx-table-header-border-color: transparent;
}

.table-red .column-header-background {
    -fx-background-color: linear-gradient(#de0009, #b30000);
}

.table-red .label {
    -fx-text-fill: #ffffff;
    -fx-font-family: "Montserrat SemiBold";
}
