.chart {
    -fx-background-color: transparent;
    -fx-font-family: Montserrat;
    -fx-font-size: 14;
    -fx-text-fill: #7C8FAC;
}

.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-horizontal-grid-lines{
    -fx-stroke: #e0e0e0;
    -fx-stroke-width: 1px;
}

.default-color0.chart-series-line { -fx-stroke: #66CC66; }